---
---

<header class="bg-blue-600 text-white py-4">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">LoneStar Vendors</h1>
    <nav>
      <ul class="flex space-x-6">
        <!-- <li><a href="#home" class="hover:text-blue-200">Home</a></li> -->
        <li><a href="#services" class="hover:text-blue-200">Services</a></li>
        <li><a href="#about" class="hover:text-blue-200">About</a></li>
        <li><a href="#contact" class="hover:text-blue-200">Contact</a></li>
        <li><a href="#leagues" class="hover:text-blue-200">Leagues</a></li>
        <!-- <li><a href="#locations" class="hover:text-blue-200">Locations</a></li> -->
        <!-- add sweepstakes
        <li><a href="#sweepstakes" class="hover:text-blue-200">Sweepstakes</a></li>-->
        <!-- Add Phone Cards -->
        <!-- <li><a href="#phone-cards" class="hover:text-blue-200">Phone Cards</a></li> --> 
      </ul>
    </nav>
  </div>
</header>
